* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fdfdfd;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

/* header  */
header {
    background-color: #13371f;
    color: white;
    /* padding: 50px auto; */
    position: sticky;
    top: 0;
    z-index: 5000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #00FF00;
}

/* home section  */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}

#home {
    position: relative;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
} */

.home-content {
    position: relative;
    z-index: 3;
    text-align: center;
    max-width: 800px;
}

.home-content h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.home-content p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.home-content .btn {
    background-color: #00FF00;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

/* destinations section  */
#destinations {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
    text-align: center;
}

#destinations h2 {
    font-size: 2 rem;
    margin-bottom: 40px;
    color: #222;
    text-decoration: underline;
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    justify-content: center;
}

.destinations-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destinations-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destinations-card h3 {
    padding: 10px;
    font-size: 1rem;
}

.destinations-card:hover {
    transform: translateY(-7px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* packages section  */
#packages {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
    text-align: center;
}

#packages h2 {
    font-size: 2 rem;
    margin-bottom: 40px;
    color: #222;
    text-decoration: underline;
}

.packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    justify-content: center;
}

.packages-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.packages-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.packages-card h3 {
    padding: 10px;
    font-size: 1rem;
}

.packages-card p {
    padding: 10px;
    color: #333;
    font-size: 0.9rem;
}

.packages-card button {
    background-color: #13371f;
    color: #00FF00;
    border: none;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px;
    width: 100%;
    /* margin-bottom: 15px; */
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3 ease;
}

.packages-card button a {
    text-decoration: none;
    color: #00FF00;
}

.packages-card button:hover {
    background: #265c38;
}

.packages-card:hover {
    transform: translateY(-7px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* testimonials section  */
#testimonials {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
    text-align: center;
}

#testimonials h2 {
    font-size: 2 rem;
    margin-bottom: 40px;
    color: #222;
    text-align: center;
    text-decoration: underline;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    justify-content: center;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
}

.testimonial i {
    color: #13371f;
    margin-bottom: 10px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial h4 {
    color: #13371f;
}

/* booking section  */
#booking {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
    text-align: center;
}

#booking h2 {
    font-size: 2 rem;
    margin-bottom: 40px;
    color: #222;
    text-align: center;
    text-decoration: underline;
}

#booking p {
    text-align: center;
    margin-bottom: 15px;
}

form {
    width: 500px;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-align: left;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #13371f;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #13371f;
    color: #00FF00;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #265c38;
}

/* footer section  */
footer{
    background-color: #13371f;
}
footer h3{
    margin-bottom: 10px;
}
footer p{
    color: #cfcfcf;
}
#footer-content {
    width: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: first baseline; */
    justify-items: baseline;
    gap: 30px;
    font-family: Arial, sans-serif;
}

/* Left Section */
.footer-left {
    /* width: 20%; */
}

.footer-left h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color:#00FF00;
}

.footer-left p {
    color: #cfcfcf;
    margin-bottom: 15px;
    line-height: 1.5;
}

.footer-links {
    /* margin: 15px 0; */
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #cfcfcf;
    margin-right: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #00FF00;
}

.copyright {
    font-size: 13px;
    color: #aaa;
    padding-left: 10px;
}

/* Map Section */
.footer-map {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
